@model IEnumerable<Proj_web.Models.Shop>

@{
    Layout = Layout = null; ;
}

<!DOCTYPE html>
@using (Html.BeginForm())
{
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница Администрирования</title>
    <link type="text/css" rel="stylesheet" href="~/Content/themes/adminPage.css" />
</head>
<body>
    <div>      
                        <table  cellspacing="0">

                            
                            @foreach (var item in Model)
                            {
                                <tr height="15px" valign="top">
                                    <td valign="top">@item.Id</td>
                                    <td valign="top">@item.Name</td>
                                    <td valign="top"> 
                                    @Html.ActionLink("Изменить", "Edit", new { item.Id })</td>                                    
                                    <td valign="top" onclick="">
                                        @using (Html.BeginForm("Admin_del", "Home"))
                                        {
                                            @Html.Hidden("Id", item.Id)
                                            <input type="submit"
                                                   value="Удалить" />

                                        }
                                    </td>
                                </tr>
                            }
                        </table>    
        <table cellspacing="0">
            <tr>
                <td>
                @Html.ActionLink("Добавить магазин", "Create")
            </tr>
        </table>


</div>
</body>
</html>
}
